html {
    justify-content: left;
    display: flex;
    text-align: left;
    min-height: 100vh;
    font-size: 15px;
    background-color: #acf2ff;
    margin-left: 200px;
}


body {
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
    color: #333;
    background-color:#0084f5;
    border-radius: 20px;
    color: yellowgreen;
}

#section01 {
    padding: 10px;
    background-color: #002ca6;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    
}

#section02 {
    padding: 10px;
    background-color: #002ca6;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
}

#section03 {
    padding: 10px;
    background-color: #0d4a72;
    border-radius: 20px;
    margin-top: 25px;
    text-align: center;
}

#section04 {
    padding: 10px;
    background-color: #002ca6;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
}

#section05 {
    padding: 10px;
    background-color: #0d4a72;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    border-radius: 20px;
}

#section06 {
    padding: 10px;
    background-color: #0d4a72;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    border-radius: 20px;
}

#section07{
    padding: 10px;
    background-color: #002ca6;
    border-radius: 20px;
    text-align: left;
    font-size: 15px;
    margin-top: 25px;
    position: fixed;
    top: 0;
    right: 150px;
}

#section08 {
    padding: 100px;
    background-color: #0c658a;
    border-radius: 20px;
    text-align: center;
    position: fixed;
    right: 150px;
    top: 0;
    margin-top: 300px;
    font-size: 20px;
    margin-right: 45px;
}

input {
    font-size: 20px;
}