html {
  font-family: sans-serif;
}

body {
  background-color: #092b5a;
}

#div01 {
  padding: 40px;
  background-color: #09738a;
  border-radius: 40px;
}

h1 {
  text-align: center;
  padding: 40px;
  background-color: #09738a;
  border-radius: 20px 60px 20px 60px;
  font-size: 30px;
  color: white;
}

#section02 {
  padding: 20px;
  background-color: #0ca5b0;
  margin-right: 1400px;
  text-align: center;
  border-radius: 60px 20px 60px 20px;
  font-size: 20px;
  
}

#section03 {
  padding: 20px;
  background-color: #0ca5b0;
  margin-left: 450px;
  margin-right: 900px;
  text-align: center;
  margin-top: -144px;
  border-radius: 20px 60px 20px 60px;
  font-size: 20px;
}

#section05 {
  color: white;
  padding: 40px;
  align-items: right;
  margin-right: 1500px;
  text-align: left;
  margin-left: -50px;
  font-size: 17px;
}

#section06 {
  color: white;
  margin-left: 450px;
  margin-right: 900px;
  margin-top: -290px;
  font-size: 20px;
}

#section07 {
  padding: 40px;
  font-size: 80px;
  margin-left: 1100px;
  margin-top: -400px;
  height: 300px;
  margin-right: 90px;
  margin-bottom: 100px;
}

